@import "../../../../sass/mixins.scss";
@import "../../../../sass/media_query.scss";
@import "../../../sass/_templateVariables.scss";

.f_page_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  color: $white;
}

.dark {
  background-color: rgba(46, 46, 56, 0.8);
}

#section-1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  //overflow: hidden;

  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    transform-origin: left top;
    background-position: right;
  }

  .content-holder {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1366px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;

    .col-left {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0px auto;

      .content {
        position: relative;
        display: block;
        height: 100%;

        .content-bg {
          // padding: 30px 0px;
          position: relative;
          display: block;
          height: 100%;

          &>.main-text {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            &>h1 {
              font-size: 3.5rem;
              color: #fff;
              text-align: center;
              margin-bottom: 1%;
              font-family: system-ui;
              font-weight: 700;
              background-color: #5da661;
              border-radius: 10px;
              padding: 10px;
              width: calc(100% - 700px);
            }

            .ost-txt {
              opacity: 1;
              width: calc(100% - 500px);

              p {
                font-size: 1.5rem;
                text-align: center;
                color: #fff;
                font-weight: 600;
              }
            }
          }

          .header {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            z-index: 11;
            padding: 15px 20px;

            #home {
              width: 50px;
              height: 50px;
              background: url("../images/back.png") no-repeat;
              background-size: contain;
              background-position: center;
              border: none;
              cursor: pointer;
              position: relative;

              &::after {
                content: attr(data-tooltip);
                /* tooltip text from attribute */
                position: absolute;
                top: 100%;
                /* below the button */
                left: 50%;
                transform: translateX(-50%);
                background: #333;
                color: #fff;
                font-size: 12px;
                padding: 4px 6px;
                border-radius: 5px;
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s;
                margin-top: 4px;
                z-index: 10;
              }

              /* Show tooltip on hover */
              &:hover::after {
                opacity: 1;
              }
            }
          }

          &>.body {
            position: relative;
            display: flex !important;
            flex-direction: column;
            justify-content: normal;
            align-items: center;
            width: 100% !important;
            height: 100%;

            .sub-section {
              width: 100%;
              height: 100%;

              .video-holder {
                width: 100%;
                height: 100%;

                video {
                  width: 100%;
                }
              }
            }

          }
        }
      }
    }
  }
}


.video-js {
  width: 100% !important;
  height: 100% !important;
  background: #fff !important;
}

/* Optional: make the video cover the entire player without stretching */
.vjs-tech {
  background: #fff;
  object-fit: contain;
}